<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: player.health + '%'}">
                    {{player.health}}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: monster.health + '%'}">
                    {{monster.health}}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="isGameFinish">
        <div class="small-12 columns">
            <button id="start-game" @click="startNewGame">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="attack" @click="playerAttack('normal')">ATTACK </button>
            <button id="special-attack" @click="playerAttack('special')">SPECIAL ATTACK ({{ specialAttack }})</button>
            <button id="heal" @click="playerHeal">HEAL ({{heals}})</button>
            <button id="give-up" @click="finishGame">GIVE UP</button>
        </div>
    </section>
    <section class="row log">
        <div class="small-12 columns">
            <ul>
                <li v-for="(msg, index) in logs">
                    <template v-for="(value, key) in msg">
                        <template v-if="key=='player'">
                                <div class="player-turn">{{ value }}</div>
                        </template>
                        <template v-else>
                            <div class="monster-turn">{{ value }}</div>
                        </template>
                    </template>
                </li>
            </ul>
        </div>
    </section>
</div>
</body>
<script src="app.js"></script>
</html>